html{
  background-color: aliceblue;
}
.App{
  background-color: aliceblue;
}
#root{
  background-color: aliceblue;
}

.btn-info-custom{
  margin: 5px;
  overflow-wrap:initial;
  color: white;
}
.btn-info-custom:hover{
  color:white
}
.btn-info.btn-info-custom:active{
  color:white
}
.btn-info.btn-info-custom:disabled{
  color:white
}


.Winners-list{
  padding: 5px;
  margin: 10px;
  min-width: 80%;
}

.close-button{
  font-weight: 700;
  font-size: medium;
  line-height: 0.5;
  color: white;
  padding: 0;
  background-color: transparent;
  border: 0;
  margin-left: 5px;
}

.close-button:hover{
  opacity: .3;
}